.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 420px;
  width: 420px;

  background-color: #ccf;
}

.row {
  height: 140px;
  width: 420px;

  display: flex;
}

.cell {
  height: calc(100% - 2px);
  border: 1px solid black;

  width: calc(100% / 3);

  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
